/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    color: #1abc9c;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-links a:hover {
    color: #fff;
}
